body {
	font-family: Hack, monospace;
}

.holder {
	height: 150px;
}

.fighter {
	margin: 5px;
	border-style: solid;
	border-width: 5px;
	float: left;
	padding: 5px;
	width: 170px;
	text-align: center;
	font-size: 16px;
}

.fighter_image {
	width: 160px;
	height: 90px;
}
